@import "./theme.css";

body {
  color: var(--primary-text);
  background-color: var(--primary-bg);
  padding: var(--container-spacing);

  border-radius: var(--radius-2);
  border-color: var(--gradient-16);
  border-width: var(--border-size-1);
}
