.vscode/**
.vscode-test/**
out/test/**
src/**
examples/**
node_modules/**
.husky/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
prettier.config.js
rollup.config.js
**/*.map
**/*.ts
yarn-error.log
__mocks__
babel.config.js
coverage
jest.config.js
TASKS.md
