/* Variables from Bootstrap package */
.bootstrap {
  color: var(--bs-code-color);
}

/* Variables from Open Props package */
.open-props {
  border-radius: var(--radius-100);
  border-color: var(--red-5);
  border-width: var(--size-2);
}

/* Varibles from Pollen package */
.pollen {
  color: var(--color-blue-300);
}
