:root {
  --foo: #f00;
  --joo: 4px;
  /* Following does not get normalised in post-processing, because of regex */
  --too: 2px var(--joo);
  --bar: var(--too);
}

.test {
  /* --foo should point to #f00, but it isn't righ now */
  /* Need to find a way to set recursive value to previously declared variable */
  background: var(--foo);
}

.test--two {
  --foo: var(--bar);
}
