.app {
  color: var(--color-js-1);
  background-color: var(--color-tsx-2);
  padding: var(--space-1);
  border-color: var(--brand-2);
  color: var( --color-astro-1 );
  border-width: var(--space-1);

  /* Random Igore linting tests */
  color: var(--color-astro-3);
  color: var(--astro-3);
  color: var(--astro-ignored);
  color: var(--do-not-ignored-this);
  color: var(--ignore-me);
  color: var(--ignore-me);
  color: var(--color-astro-4);
}

.wrapper {
  --color-astro-4: #333;
}
