/**
 * The extension will cache all remote url imports, irrespective of them having
 * any CSS variables or not. The files are stored in `$TMPDIR/cssvar` temp folder
 * if you ever want to manually remove them. These files will automatically be
 * cleaned up by your OS, if not used for a specific period of time or after a reboot.
 */
@import "https://cdn.jsdelivr.net/npm/modern-normalize@1.1.0/modern-normalize.min.css";
@import './local.css';

/* Following is very specific to webpack/react projects */
/* I won't be supporting this in this extension, as a user can import */
/* such css files from extension settings */
/* But's it's wise to ignore such imports */
@import '~open-props/open-props.min.css';
@import 'modern-normalize/modern-normalize.css';

@import url('node_modules/open-props/red.min.css') layer(utilities) print, screen;

/* Following import syntax is supported by vite projects */
/* Again this is very bundler specific and will not be supported */
/* @import 'pollen-css/pollen.css'; */

@import url(https://unpkg.com/pollen-css@4.4.0/pollen.css);
@import "https://unpkg.com/pollen-css";

body {
  color: var(--red-2);
  width: var(--width-sm);
  padding: var(--gap-md);
  border-color: var(--color-red);
  grid-template-columns: var(--grid-page);
  background-color: var(--c-blue);
  border-top-color: var(--orange-2);
  box-shadow: 0 0 3px 0 var(--violet-2);
  margin: var(--size-10);
}
