@import url("https://unpkg.com/open-props@1.4.14/orange.min.css");
@import url(./nested.css);

:root {
  --gap-sm: 0.25rem;
  --gap-md: 0.5rem;
  --gap-lg: 1rem;
  --gap-xl: 2rem;
  --gap-xxl: 4rem;
}
