@import url("./global.css");
@import url("./theme.css");

:root {
  --color-default-bg: #A6B9CA;
  --color-default-fg: #223548;
}

body {
  color: var(--color-default-fg);
  background-color: var(--color-purple-500-alpha);
}

.container {
  width: var(--container-size);
  padding: var(--container-padding);
}
