:root {
  /* Following two variables will change respective to media-queries */
  --container-size: calc(100% - 1rem);
  --container-padding: 0.5rem;
}

@media screen and (min-width: 1020px) {
  :root {
    --container-size: 960;
    --container-padding: 1rem;
  }
}
